<div class='container'>
  <div class='row be-soft_gray'>
    <div class='col-xs col-md-4'>
      <h1>Lista Concesionarios</h1>      
    </div><div class='col-xs col-md-2'></div>
    <div class='col-xs col-md-6 be_round_soft_gray2'>
      <%= bootstrap_form_tag remote:true, url:'concessionaries/get_byName', method:'get', :html => {id:'search'} do |f| %>
        <%= f.text_field_with_bootstrap :name, label:'Busqueda de concesionario por nombre' %>
        <%= submit_tag 'Buscar', class:'btn btn-default btn-md srch' %>
      <% end %>
    </div>
  </div>
  <div class='row cube'></div>
  <div class='row'>
    <div class='col-xs col-md-1'></div>
    <div class='col-xs col-md-10'>
      <div class="table-responsive no-margins">
        <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Telefono</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @concessionaries.each do |concessionary| %>
            <tr>
              <td><%= concessionary.name %></td>
              <td><%= concessionary.telephone %></td>
              <td><%= link_to concessionary do %> <%= octicon 'eye', class:'rigth' %> <% end %></td>
              <td><%= link_to edit_concessionary_path(concessionary) do %> <%= octicon 'pencil', class:'rigth' %> <% end %> </td>
              <td><%= link_to concessionary, method: :delete, data: { confirm: 'Esta usted seguro?' } do %>
                    <%= octicon 'trashcan', class:'rigth' %>
                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>      
    </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs col-md-2'>
      <br>
      <%= link_to 'Nuevo', new_concessionary_path, class:'btn btn-default btn-md' %>
    </div>
    <div class='col-xs col-md-8'>
      <%= will_paginate @concessionaries, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
