<div class='container'>
  <div class='row'>
    <div class='col-xs-10 col-md-10'>
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @concessionary.name %>
      </p>
      
      <p>
        <strong>Phone:</strong>
        <%= @concessionary.phone %>
      </p>
      
      <%= link_to 'Editar', edit_concessionary_path(@concessionary), class:'btn btn-default btn-sm be-round_soft_gray' %> |
      <%= link_to 'Regresar', concessionaries_path, class:'btn btn-default btn-sm be-round_soft_gray' %>
    </div>
  </div>
</div>

