<%= form_for(@entero) do |f| %>
  <% if @entero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entero.errors.count, "error") %> prohibited this entero from being saved:</h2>

      <ul>
      <% @entero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container be-round_ligth_gray">
    <div class="row">
      <div class="col-xs-6 col-md-6">
        <%= f.label :NOMBRE %><br>
        <%= f.select :taxpayer, Concessionary.all.order(:name).pluck(:name),{}, {class:'btn btn-default dropdown-toggle', id:'taxpayer'} %>
      </div>
      <div class="col-xs-2 col-md-2"> 
        <%= f.label :UNIDAD %><br>
        <%= f.select :unit, [ ['TON.','1'], ['K.G.','2'], ['M3','3'], ['VEHICULO',4] ], {}, {class:'btn btn-default dropdown-toggle unit'} %>
      </div>
      <div class="col-xs-2 col-md-1">
        <%= f.label :CANTIDAD %><br>
        <%= f.text_field :quantity, class:'form-control cantidad' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-md-7">
        <%= f.label :servicio %><br>
        <%= f.select :service, 
        [ 
          ['DISPOSICION FINAL DE RESIDUOS SOLIDOS COMERCIAL','1'], 
          ['DISPOSICION FINAL DE ESCOMBROS DE CONSTRUCCION COMERCIAL','2'], 
          ['DISPOSICION FINAL DE RESTOS DE ANIMALES COMERCIAL','3'], 
          ['DISPOSICION FINAL DE RAMAS Y DESECHOS DE JARDINERIA COMERCIAL','4'],
          ['DISPOSICION FINAL DE LLANTAS DE VEHICULOS AUTOMORES COMERCIAL','5'],
          ['DISPOSICION FINAL DE LODO ESTABILIZADOS DERIVADO DE PLANTAS DE TRATAMIENTO','6']
        ], {}, {class:'btn btn-default dropdown-toggle services'} %>
      </div>
      <div class='col-xs-3 col-md-2'>
        <br>
        <%= link_to '', insertServices_enteros_path, class:'btn btn-default btn-sm glyphicon glyphicon-plus-sign btnplus', remote:true %>
        <%= link_to '', enteros_path, class:'btn btn-default glyphicon glyphicon-list btn-sm' %>
        <%= link_to '', deleteServices_enteros_path, class:'btn btn-default btn-sm glyphicon glyphicon-trash btnrm', remote:true %>
        <%= link_to '', buildpdf_enteros_path(format:'js'), class:'btn btn-default btn-sm glyphicon glyphicon-print generate', remote:true %>
        
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-md-7">
        <div class="table-responsive mytable">
          <table class="table table-hover table-striped display">
            <thead>
              <tr>
                <td>ID</td>
                <td>TIPO</td>
                <td>COSTO</td>
                <td>ADICIONAL</td>
                <td>TOTAL</td>
              </tr>
            </thead>
            <tbody class="tbone">
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class='container tag'>
  <div class='row'>
    <div class='col-xs col-md-12 be-gray pdfcol'>
      <iframe id='myIframe' src=''  style="border: 0"  width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  <div>
</div>
