<p id="notice"><%= notice %></p>

<h1>Listado de Enteros</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs col-md">
      <div class="table-responsive no-margins">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>NOMBRE</th>
              <th>SERVICIO</th>
              <th>UNIDAD</th>
              <th>CANTIDAD</th>
            <!--  <th>COSTO</th>
              <th>30% ADICIONAL</th>
              <th>TOTAL</th> -->
              <th colspan="3"></th>
            </tr>
          </thead>
    <tbody>
    <% @enteros.each do |entero| %>
      <% case entero.service %>
      <% when '1' %>
      <% servicio = 'RESIDUOS SOLIDOS COMERCIAL' %>
      <% when '2' %>
      <% servicio = 'ESCOMBROS DE CONSTRUCCION COMERCIAL' %>
      <% when '3' %>
      <% servicio = 'RESTOS DE ANIMALES COMERCIAL' %>
      <% when '4' %>
      <% servicio = 'RAMAS Y DESECHOS DE JARDINERIA COMERCIAL' %>
      <% when '5' %>
      <% servicio = 'LLANTAS DE VEHICULOS AUTOMORES COMERCIAL' %>
      <% when '6' %>
      <% servicio = 'LODO ESTABILIZADOS DERIVADO DE PLANTAS DE TRATAMIENTO' %>
      <% end %>
      <tr>
        <td><%= entero.taxpayer %></td>
        <td><%= servicio %></td>
        <td><%= entero.unit %></td>
        <td><%= entero.quantity %></td>
        <td><%= link_to 'mostrar', entero, class:'btn btn-default btn-xs' %></td>
        <td><%= link_to 'editar', edit_entero_path(entero), class:'btn btn-default btn-xs' %></td>
        <td><%= link_to 'borrar', entero, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
      </div>
    </div>
  </div>  
</div>
<br>
<%= link_to 'NUEVO', new_entero_path, class:'btn btn-default btn-lg be-gray' %>
