<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="myheader">
    <div class="container be-gray">
      <div class="row">
        <div class="col-xs col-md-12">
          <% if logged_in? %>
            <span class="pull-left">
              usuario [ <%= current_user.name.upcase %> ]
            </span>
            <span class="pull-right">
              <%= link_to "", root_path, class:'btn btn-default btn-sm glyphicon glyphicon-home be-round_soft_gray' %>
              <%= link_to "CONCESIONARIOS", concessionaries_path, class:'btn btn-sm be-round_soft_gray' %>
              <%= link_to "VEHICULOS", vehicles_path, class:'btn btn-sm be-round_soft_gray' %>
             	<%= link_to "Logout", logout_path, method: :delete, class:'btn btn-sm btn-danger' %> 
              <span class="glyphicon glyphicon-log-in"></span>
            </span>
          <% end %>
          <br>
          <% flash.each do |key, value| %>
             <p id='<%= key %>'><%= value %></p>
          <% end %>
          <%#= logged_in? %>
        </div>
      </div>
    </div>
  </section>
<%= yield %>

</body>
</html>
